doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/jquery-ui.min.css')
    link(rel='stylesheet' href='/stylesheets/sortable.css')
    script(src="/jquery/jquery.js")
    script(src="/javascripts/jquery-ui.min.js")
    script(src="/javascripts/web.js")
  body
    block main