extends index

block content
    div(class="flex justify-center p-1 bg-gray-300")
        div(class="flex flex-col bg-white w-96 p-12 text-left border border-gray-300 rounded-lg")
            div(class="flex justify-center")
                h1(class="text-2xl font-semibold") Sign up
            form(action="/api/user/signup" method="post")
                div(class="flex flex-col")
                    div(class="flex justify-between items-end pt-6")
                        label(for="username") Username
                    div
                        input(required minlength="3" name="username" type="text" class="w-full rounded text-sm font-medium text-gray-900 p-3 border border-gray-200 focus:outline-solid focus:outline-cyan-500 focus:outline-offset-1")
                div(class="flex flex-col")
                    div(class="flex justify-between items-end pt-6")
                        label(for="email") Email
                    div
                        input(required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" name="email" type="text" class="w-full rounded text-sm font-medium text-gray-900 p-3 border border-gray-200 focus:outline-solid focus:outline-cyan-500 focus:outline-offset-1")
                div 
                    div(class="flex justify-between items-end pt-6")
                        label(for="password") Password
                    div 
                        input(required minlength="8" maxlength="64" pattern="^(?=.*[0-9])((?=.*[a-z])|(?=.*[A-Z])).*$" name="password" type="password" class="w-full rounded text-sm font-medium text-gray-900 p-3 border border-gray-200 focus:outline-solid focus:outline-cyan-500 focus:outline-offset-1")
                        span(class="text-xs font-medium text-gray-400") Must be 8 characters or more, needs at least one number and one letter
                div 
                    button(type="submit" class="mt-10 px-3 py-4 w-full text-sm text-white rounded-full bg-blue-500 hover:bg-blue-600")
                        span Sign up
                div(class="mt-2 text-center")
                    span Have an account?
                        a(href="/login" class="ml-2 text-blue-500 hover:text-blue-600") Sign in
            div(class="flex justify-center p-4")
                p(class="text-sm font-medium text-gray-900") or you can sign in with
            div(class="flex justify-center")
                a(href="#")
                    svg(class="h-6 w-6" viewbox='0 0 48 48' width='48px' height='48px')
                        path(fill='#FFC107' d='M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z')
                        path(fill='#FF3D00' d='M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z')
                        path(fill='#4CAF50' d='M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z')
                        path(fill='#1976D2' d='M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z')
